[MAIN]

ignore-paths = setup.py,
               tests/

[MESSAGES CONTROL]

disable = too-many-locals,
          too-many-branches,
          too-many-statements,
          unsupported-binary-operation
